<table width="95%%">
  <tr>
    <td><h1>Listing exhibitors</h1></td>
    <td align="right"><%= link_to 'Add new exhibitor', new_exhibitor_path %> | <%= link_to_xls_export %></td>
  </tr>
</table>
    

<table class="full_width_tbl" >
  <tr>
    <th><%= sortable "company_name" %></th>
    <th><%= sortable "contact_last_name", "Contact Name" %></th>
    <th><%= sortable "contact_email" %></th>
    <th><%= sortable "contact_phone_1" %></th>
  </tr>

<% @exhibitors.each do |exhibitor| %>
  <tr class="<%= cycle('', 'alt') %>">
    <td><%= link_to_show_exhibitor exhibitor.company_name, exhibitor %></td>
    <td><%= exhibitor.contact_name %></td>
    <td><%= exhibitor.contact_email %></td>
    <td><%= exhibitor.contact_phone_1 %></td>
    <td><%= link_to image_tag("edit_icon.png", :alt => "Edit", :size => "20x20"), edit_exhibitor_path(exhibitor) %></td>
  </tr>
<% end %>
<tr>
   <td align="middle" colspan="5">
      <span><%= will_paginate @exhibitors %></span>
      <span><%= will_paginate_per_page %> per page</span>
   </td>
</tr>
</table>
<br/>
