<h1>Listing exhibitors</h1>

<table class="full_width_tbl" >
  <tr>
    <th><%= sortable "company_name" %></th>
    <th><%= sortable "contact_last_name", "Contact Name" %></th>
    <th><%= sortable "contact_email" %></th>
    <th><%= sortable "contact_phone_1" %></th>
  </tr>

<% @exhibitors.each do |exhibitor| %>
  <tr class="<%= cycle('', 'alt') %>">
    <td><%= link_to_show_exhibitor exhibitor.company_name, exhibitor %></td>
    <td><%= exhibitor.contact_name %></td>
    <td><%= exhibitor.contact_email %></td>
    <td><%= exhibitor.contact_phone_1 %></td>
    <td><%= link_to image_tag("edit_icon.png", :alt => "Edit", :size => "20x20"), edit_exhibitor_path(exhibitor) %></td>
  </tr>
<% end %>
<tr>
   <td align="middle" colspan="8"><%= will_paginate @posts %></td>
</tr>
</table>
<br/>
<p> <%= link_to 'New exhibitor', new_exhibitor_path %></p>
